#
# On image booted machines, we need to mount /boot from the image-specific
# boot directory so that kernel package installation will put the
# files in the right place.  We also have to mount /boot/grub from the
# system-wide grub directory so that tools that edit the grub.cfg
# file will find it in the expected location.
#

[Unit]
Before=local-fs.target
Requires=vyatta-image.env.service
After=vyatta-image.env.service
RequiresMountsFor=/boot
ConditionKernelCommandLine=vyatta-union

[Mount]
EnvironmentFile=/run/vyatta/image.env
What=${LIVE_ROOTFS_PATH}/boot/grub
Where=/boot/grub
Type=none
Options=bind
