[Unit]
Description=Generate /run/vyatta/image.env
DefaultDependencies=false

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/env sh -c "mkdir -p /run/vyatta"
ExecStart=/usr/bin/env sh -c "echo -n IMAGE_PATH= > /run/vyatta/image.env"
ExecStart=/opt/vyatta/sbin/vyatta-live-image get_image_path >> /run/vyatta/image.env
ExecStart=/usr/bin/env sh -c "echo -n LIVE_ROOTFS_PATH= >> /run/vyatta/image.env"
ExecStart=/opt/vyatta/sbin/vyatta-live-image get_live_rootfs_path >> /run/vyatta/image.env
